In [2]:
import pandas as pd
import numpy as np

In [3]:
df=pd.read_csv(r"../data/raw/ISRO mission launches till august 2025.csv",encoding="latin1")
df.head()

,SL No,Name,Launch Date,Launch Vehicle,Orbit Type,Application,Remarks
0,130,NISAR(NASA-ISRO),30-Jul-25,GSLV-F16/NISAR Mission,SSO (Sun Synchronous Orbit),Earth Observation(Radar),Launch successful
1,129,EOS-09,18-May-25,PSLV-C61/EOS-09 Mission,SSO (Sun Synchronous Orbit),Earth Observation,Launch successful
2,128,NVS-02(NavIC Series),29-Jan-25,GSLV-F15/NVS-02 Mission,GTO (Geosynchronous Transfer Orbit),Navigation,Launch successful
3,127,"SPADEX, POEM-4",30-Dec-25,"PSLV-C60,SPADEX,POEM-4 Mission",LEO (Low Earth Orbit),In-orbit Docking Experiment,Launch successful
4,126,Proba-3 (ESA),05-Dec-24,PSLV-C59/Proba-3 Mission,HEO(High Elliptical Orbit),Formation Flying(Technology Demonstration),Launch successful

In [4]:
df['Application'].describe()

count               126
unique               18
top       Communication
freq                 38
Name: Application, dtype: object

In [5]:
df.count()

SL No             130
Name              130
Launch Date       130
Launch Vehicle    130
Orbit Type        109
Application       126
Remarks           130
dtype: int64

In [6]:
df[df['Orbit Type'].isna()]

,SL No,Name,Launch Date,Launch Vehicle,Orbit Type,Application,Remarks
7,123,NVS-01,29-May-23,GSLV-F12/NVS-01 Mission,NaN,Navigation,Launch successful
8,122,EOS-07,10-Feb-23,SSLV-D2/EOS-07 Mission,NaN,Earth Observation,Launch successful
9,121,Thybolt,26-Nov-22,PSLV-C54/EOS-06 Mission,NaN,Earth Observation,Launch successful
10,120,Thybolt,26-Nov-22,PSLV-C54/EOS-06 Mission,NaN,Earth Observation,Launch successful
11,119,Anand,26-Nov-22,PSLV-C54/EOS-06 Mission,NaN,Earth Observation,Launch successful
12,118,INS-2B,26-Nov-22,PSLV-C54/EOS-06 Mission,NaN,Earth Observation,Launch successful
13,117,EOS-06,26-Nov-22,PSLV-C54/EOS-06 Mission,NaN,Earth Observation,Launch successful
14,116,EOS-02,07-Aug-22,SSLV-D1/EOS-02 Mission,NaN,Earth Observation,Launch successful
16,114,INS-2TD,14-Feb-22,PSLV-C52/EOS-04 Mission,NaN,Experimental,Launch successful
17,113,EOS-04,14-Feb-22,PSLV-C52/EOS-04 Mission,NaN,Earth Observation,Launch successful
29,101,GSAT-7A,19-Dec-18,GSLV-F11 / GSAT-7A Mission,NaN,Communication,Launch successful
38,92,IRNSS-1H,31-Aug-17,PSLV-C39/IRNSS-1H Mission,NaN,Navigation,Launch unsuccessful
55,75,Astrosat,28-Sep-15,PSLV-C30/AstroSat MISSION,NaN,Space Science,Launch successful
58,72,Crew module Atmospheric Re-entry Experiment (C...,18-Dec-14,LVM-3/CARE Mission,NaN,Experimental,Launch successful
109,21,SROSS-C2,04-May-94,ASLV-D4,NaN,Experimental,Launch successful
113,17,SROSS-C,20-May-92,ASLV-D3,NaN,Experimental,Launch successful
117,13,SROSS-2,13-Jul-88,ASLV-D2,NaN,"Earth Observation, Experimental",Launch unsuccessful
119,11,SROSS-1,24-Mar-87,ASLV-D1,NaN,Experimental,Launch unsuccessful
126,4,Rohini Satellite RS-1,18-Jul-80,SLV-3E2,NaN,NaN,Launch successful
127,3,Rohini Technology Payload (RTP),10-Aug-79,SLV-3E1,NaN,NaN,Launch unsuccessful
129,1,Aryabhata,19-Apr-75,C-1 Intercosmos,NaN,Experimental,Launch successful

In [7]:
df['Orbit Type'].unique()

array(['SSO (Sun Synchronous Orbit)',
       'GTO (Geosynchronous Transfer Orbit)', 'LEO (Low Earth Orbit)',
       'HEO(High Elliptical Orbit)', 'Lunar', nan,
       'GSO (Geosynchronous Orbit)', 'SSPO (Sun Synchronous Polar Orbit)',
       'GEO', 'Martian'], dtype=object)

In [8]:
df["Orbit Type"]=["No Data" if pd.isna(i) else i for i in df['Orbit Type']]

In [9]:
df[df['Application'].isna()]

,SL No,Name,Launch Date,Launch Vehicle,Orbit Type,Application,Remarks
26,104,EMISAT,01-Apr-19,PSLV-C45/EMISAT MISSION,SSPO (Sun Synchronous Polar Orbit),NaN,Launch successful
28,102,Microsat-R,24-Jan-19,PSLV-C44,SSPO (Sun Synchronous Polar Orbit),NaN,Launch successful
126,4,Rohini Satellite RS-1,18-Jul-80,SLV-3E2,No Data,NaN,Launch successful
127,3,Rohini Technology Payload (RTP),10-Aug-79,SLV-3E1,No Data,NaN,Launch unsuccessful

In [10]:
df['Application'].unique()

array(['Earth Observation(Radar)', 'Earth Observation', 'Navigation',
       'In-orbit Docking Experiment',
       'Formation Flying(Technology Demonstration)',
       'Planetary Observation', 'Communication', 'Experimental',
       'Disaster Management System, Earth Observation', nan,
       'Climate & Environment',
       'Climate & Environment, Disaster Management System',
       'Communication, Navigation', 'Space Science',
       'Climate & Environment, Earth Observation', 'Student Satellite',
       'Climate & Environment, Communication',
       'Earth Observation, Experimental', 'Communication, Experimental'],
      dtype=object)

In [11]:
df['Application']=["No Data" if pd.isna(i) else i for i in df['Application']]

In [12]:
df.count()

SL No             130
Name              130
Launch Date       130
Launch Vehicle    130
Orbit Type        130
Application       130
Remarks           130
dtype: int64

In [13]:
df['Application']=df['Application'].str.split(',')
df['Application'] = df['Application'].apply(
    lambda x: [i.strip() for i in x] if isinstance(x, list) else x
)
df=df.explode('Application')
df

,SL No,Name,Launch Date,Launch Vehicle,Orbit Type,Application,Remarks
0,130,NISAR(NASA-ISRO),30-Jul-25,GSLV-F16/NISAR Mission,SSO (Sun Synchronous Orbit),Earth Observation(Radar),Launch successful
1,129,EOS-09,18-May-25,PSLV-C61/EOS-09 Mission,SSO (Sun Synchronous Orbit),Earth Observation,Launch successful
2,128,NVS-02(NavIC Series),29-Jan-25,GSLV-F15/NVS-02 Mission,GTO (Geosynchronous Transfer Orbit),Navigation,Launch successful
3,127,"SPADEX, POEM-4",30-Dec-25,"PSLV-C60,SPADEX,POEM-4 Mission",LEO (Low Earth Orbit),In-orbit Docking Experiment,Launch successful
4,126,Proba-3 (ESA),05-Dec-24,PSLV-C59/Proba-3 Mission,HEO(High Elliptical Orbit),Formation Flying(Technology Demonstration),Launch successful
...,...,...,...,...,...,...,...
126,4,Rohini Satellite RS-1,18-Jul-80,SLV-3E2,No Data,No Data,Launch successful
127,3,Rohini Technology Payload (RTP),10-Aug-79,SLV-3E1,No Data,No Data,Launch unsuccessful
128,2,Bhaskara-I,07-Jun-79,C-1Intercosmos,LEO (Low Earth Orbit),Earth Observation,Launch successful
128,2,Bhaskara-I,07-Jun-79,C-1Intercosmos,LEO (Low Earth Orbit),Experimental,Launch successful
129,1,Aryabhata,19-Apr-75,C-1 Intercosmos,No Data,Experimental,Launch successful

In [14]:
df['Launch Date'].unique()

array(['30-Jul-25', '18-May-25', '29-Jan-25', '30-Dec-25', '05-Dec-24',
       '02-Sep-23', '14-Jul-23', '29-May-23', '10-Feb-23', '26-Nov-22',
       '07-Aug-22', '23-Jun-22', '14-Feb-22', '12-Aug-21', '17-Dec-20',
       '07-Nov-20', '17-Jan-20', '11-Dec-19', '27-Nov-19', '22-Jul-19',
       '22-May-19', '01-Apr-19', '06-Feb-19', '24-Jan-19', '19-Dec-18',
       '05-Dec-18', '29-Nov-18', '14-Nov-18', '12-Apr-18', '29-Mar-18',
       '12-Jan-18', '31-Aug-17', '29-Jun-17', '23-Jun-17', '05-Jun-17',
       '05-May-17', '15-Feb-17', '07-Dec-16', '06-Oct-16', '26-Sep-16',
       '08-Sep-16', '22-Jun-16', '28-Apr-16', '10-Mar-16', '20-Jan-16',
       '11-Nov-15', '28-Sep-15', '27-Aug-15', '28-Mar-15', '18-Dec-14',
       '07-Dec-14', '16-Oct-14', '04-Apr-14', '05-Jan-14', '05-Nov-13',
       '30-Aug-13', '26-Jul-13', '01-Jul-13', '25-Feb-13', '29-Sep-12',
       '26-Apr-12', '12-Oct-11', '15-Jul-11', '21-May-11', '20-Apr-11',
       '25-Dec-10', '12-Jul-10', '15-Apr-10', '23-Sep-09', '20-Apr-09',
       '22-Oct-08', '28-Apr-08', '02-Sep-07', '12-Mar-07', '10-Jan-07',
       '10-Jul-06', '22-Dec-05', '05-May-05', '20-Sep-04', '17-Oct-03',
       '28-Sep-03', '08-May-03', '10-Apr-03', '12-Sep-02', '24-Jan-02',
       '22-Oct-01', '18-Apr-01', '22-Mar-00', '26-May-99', '03-Apr-99',
       '29-Sep-97', '04-Jun-97', '21-Mar-96', '28-Dec-95', '07-Dec-95',
       '15-Oct-94', '04-May-94', '20-Sep-93', '23-Jul-93', '10-Jul-92',
       '20-May-92', '29-Aug-91', '12-Jun-90', '22-Jul-88', '13-Jul-88',
       '17-Mar-88', '24-Mar-87', '30-Aug-83', '17-Apr-83', '10-Apr-82',
       '20-Nov-81', '19-Jun-81', '31-May-81', '18-Jul-80', '10-Aug-79',
       '07-Jun-79', '19-Apr-75'], dtype=object)

In [15]:
df['Launch Date']=pd.to_datetime(df['Launch Date'],format='%d-%b-%y')

In [16]:
df['Launch Date'].unique()

<DatetimeArray>
['2025-07-30 00:00:00', '2025-05-18 00:00:00', '2025-01-29 00:00:00',
 '2025-12-30 00:00:00', '2024-12-05 00:00:00', '2023-09-02 00:00:00',
 '2023-07-14 00:00:00', '2023-05-29 00:00:00', '2023-02-10 00:00:00',
 '2022-11-26 00:00:00',
 ...
 '1983-08-30 00:00:00', '1983-04-17 00:00:00', '1982-04-10 00:00:00',
 '1981-11-20 00:00:00', '1981-06-19 00:00:00', '1981-05-31 00:00:00',
 '1980-07-18 00:00:00', '1979-08-10 00:00:00', '1979-06-07 00:00:00',
 '1975-04-19 00:00:00']
Length: 117, dtype: datetime64[ns]

In [17]:
df['Remarks'].unique()

array(['Launch successful', 'Launch unsuccessful', 'Decommisioned',
       'Failed in Orbit', 'Partial Failure in Orbit'], dtype=object)

In [18]:
df['Launch Vehicle'].unique()

array(['GSLV-F16/NISAR Mission', 'PSLV-C61/EOS-09 Mission',
       'GSLV-F15/NVS-02 Mission', 'PSLV-C60,SPADEX,POEM-4 Mission',
       'PSLV-C59/Proba-3 Mission', 'PSLV-C57/Aditya-L1 Mission',
       'LVM3 M4 / Chandrayaan-3 Mission', 'GSLV-F12/NVS-01 Mission',
       'SSLV-D2/EOS-07 Mission', 'PSLV-C54/EOS-06 Mission',
       'SSLV-D1/EOS-02 Mission', 'Ariane-V(VS257)',
       'PSLV-C52/EOS-04 Mission', 'GSLV-F10 / EOS-03 Mission',
       'PSLV-C50/CMS-01', 'PSLV-C49/EOS-01', 'Ariane-5 VA-251',
       'PSLV-C48/RISAT-2BR1', 'PSLV-C47 / Cartosat-3 Mission',
       'GSLV-Mk III - M1 / Chandrayaan-2 Mission', 'PSLV-C46 Mission',
       'PSLV-C45/EMISAT MISSION', 'Ariane-5 VA-247', 'PSLV-C44',
       'GSLV-F11 / GSAT-7A Mission', 'Ariane-5 VA-246',
       'PSLV-C43 / HysIS Mission', 'GSLV Mk III-D2 / GSAT-29 Mission',
       'PSLV-C41/IRNSS-1I', 'GSLV-F08/GSAT-6A Mission',
       'PSLV-C40/Cartosat-2 Series Satellite Mission',
       'PSLV-C39/IRNSS-1H Mission', 'Ariane-5 VA-238',
       'PSLV-C38 / Cartosat-2 Series Satellite',
       'GSLV Mk III-D1/GSAT-19 Mission', 'GSLV-F09 / GSAT-9',
       'PSLV-C37 / Cartosat -2 Series Satellite',
       'PSLV-C36 / RESOURCESAT-2A', 'Ariane-5 VA-231',
       'PSLV-C35 / SCATSAT-1', 'GSLV-F05 / INSAT-3DR',
       'PSLV-C34 / CARTOSAT-2 Series Satellite', 'PSLV-C33/IRNSS-1G',
       'PSLV-C32/IRNSS-1F', 'PSLV-C31/IRNSS-1E', 'Ariane-5 VA-227',
       'PSLV-C30/AstroSat MISSION', 'GSLV-D6', 'PSLV-C27/IRNSS-1D',
       'LVM-3/CARE Mission', 'Ariane-5 VA-221', 'PSLV-C26/IRNSS-1C',
       'PSLV-C24/IRNSS-1B', 'GSLV-D5/GSAT-14', 'PSLV-C25',
       'Ariane-5 VA-215', 'Ariane-5 VA-214', 'PSLV-C22/IRNSS-1A',
       'PSLV-C20/SARAL', 'Ariane-5 VA-209', 'PSLV-C19/RISAT-1',
       'PSLV-C18/Megha-Tropiques', 'PSLV-C17/GSAT-12', 'Ariane-5 VA-202',
       'PSLV-C16/RESOURCESAT-2', 'GSLV-F06 / GSAT-5P',
       'PSLV-C15/CARTOSAT-2B', 'GSLV-D3 / GSAT-4',
       'PSLV-C14 / OCEANSAT-2', 'PSLV-C12 / RISAT-2', 'PSLV-C11',
       'PSLV-C9 / CARTOSAT \x96 2A', 'GSLV-F04 / INSAT-4CR', 'Ariane5',
       'PSLV-C7 / CARTOSAT-2 / SRE-1', 'GSLV-F02 / INSAT-4C',
       'Ariane5-V169', 'PSLV-C6/CARTOSAT-1/HAMSAT',
       'GSLV-F01 / EDUSAT (GSAT-3)', 'PSLV-C5 /RESOURCESAT-1',
       'Ariane5-V162', 'GSLV-D2 / GSAT-2', 'Ariane5-V160',
       'PSLV-C4 /KALPANA-1', 'Ariane5-V147', 'PSLV-C3 / TES',
       'GSLV-D1 / GSAT-1', 'Ariane-5G', 'PSLV-C2/IRS-P4',
       'Ariane-42P H10-3', 'PSLV-C1 / IRS-1D', 'Ariane-44L H10-3',
       'PSLV-D3 / IRS-P3', 'Molniya', 'PSLV-D2', 'ASLV-D4', 'PSLV-D1',
       'Ariane-44L H10+', 'Ariane-44L H10', 'ASLV-D3', 'Vostok',
       'Delta 4925', 'Ariane-3', 'ASLV-D2', 'ASLV-D1', 'Shuttle [PAM-D]',
       'SLV-3', 'Delta', 'C-1 Intercosmos', 'Ariane -1(V-3)', 'SLV-3D1',
       'SLV-3E2', 'SLV-3E1', 'C-1Intercosmos'], dtype=object)

In [19]:
df=df.sort_values(by='SL No')
df

,SL No,Name,Launch Date,Launch Vehicle,Orbit Type,Application,Remarks
129,1,Aryabhata,1975-04-19,C-1 Intercosmos,No Data,Experimental,Launch successful
128,2,Bhaskara-I,1979-06-07,C-1Intercosmos,LEO (Low Earth Orbit),Earth Observation,Launch successful
128,2,Bhaskara-I,1979-06-07,C-1Intercosmos,LEO (Low Earth Orbit),Experimental,Launch successful
127,3,Rohini Technology Payload (RTP),1979-08-10,SLV-3E1,No Data,No Data,Launch unsuccessful
126,4,Rohini Satellite RS-1,1980-07-18,SLV-3E2,No Data,No Data,Launch successful
...,...,...,...,...,...,...,...
4,126,Proba-3 (ESA),2024-12-05,PSLV-C59/Proba-3 Mission,HEO(High Elliptical Orbit),Formation Flying(Technology Demonstration),Launch successful
3,127,"SPADEX, POEM-4",2025-12-30,"PSLV-C60,SPADEX,POEM-4 Mission",LEO (Low Earth Orbit),In-orbit Docking Experiment,Launch successful
2,128,NVS-02(NavIC Series),2025-01-29,GSLV-F15/NVS-02 Mission,GTO (Geosynchronous Transfer Orbit),Navigation,Launch successful
1,129,EOS-09,2025-05-18,PSLV-C61/EOS-09 Mission,SSO (Sun Synchronous Orbit),Earth Observation,Launch successful
0,130,NISAR(NASA-ISRO),2025-07-30,GSLV-F16/NISAR Mission,SSO (Sun Synchronous Orbit),Earth Observation(Radar),Launch successful

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 148 entries, 129 to 0
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   SL No           148 non-null    int64
 1   Name            148 non-null    object
 2   Launch Date     148 non-null    datetime64[ns]
 3   Launch Vehicle  148 non-null    object
 4   Orbit Type      148 non-null    object
 5   Application     148 non-null    object
 6   Remarks         148 non-null    object
dtypes: datetime64[ns](1), int64(1), object(5)
memory usage: 9.2+ KB

In [21]:
# df.to_csv(
#     "../data/cleaned/isro_mission_launches_cleaned.csv",
#     index=False,
#     encoding="utf-8"
# )